body{
    background-image: url("../background.jpg");
    background-size: cover; 
}
.headers{
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    color:oldlace;
    font-size:35px;
}
.textcontainer{
    padding:10px;
    color:black;
}
p{
    background-color: cadetblue;
    text-align: center;
}